html,
body {
  font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.left-bg,
.right-bg {
  position: absolute;
  width: 510px;
  background-image: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
}
.left-bg {
  left: -90px;
  top: 0;
  height: calc(100% - 100px);
  border-radius: 0 0 255px 255px;
}
.right-bg {
  bottom: 0;
  right: -90px;
  height: calc(100% - 120px);
  opacity: 0.03;
  border-radius: 255px 255px 0 0;
}
.main-row {
  max-width: 920px;
  margin-inline: auto;
  display: grid;
  gap: 30px;
}
